@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBold;
    src: url("../fonts/Roboto-Bold.ttf");
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: RobotoRegular;
    overflow-x: hidden;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.bannerArea {
    width: 100%;
    background: #B7B7B7;
}

.menuArea {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    background-color: #B7B7B7;
}

.menuArea img{
    margin-left: 5%;
    width: 5%;
}

.menuArea ul {
    display: flex;
    width: 35%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
    list-style: none;
}

.menuArea ul::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 40%;
    height: 12%;
    bottom: 0%;
    right: 0%;
}

.menuArea ul li {
    font-family: RobotoRegular;
    font-size: 20px;
}

.menuArea ul li a {
    color: inherit;
    text-decoration: none;
    transition: all .3s;
}

.menuArea ul li a:hover {
    color: yellow;
}


.menuArea ul li:active {
    color: yellow;
}

.titleArea {
    position: absolute;
    top: 37%;
    left: 8%;
}

.titleArea h1 {
    font-size: 100px;
    letter-spacing: 2px;
}

.titleArea h2 {
    font-size: 80px;
}

.quemSomosArea {
    background: #B7B7B7;
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.qsImg {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

#qsImg-1 {
    background-image: url('../img/img1.png');
}

#qsImg-2 {
    background-image: url('../img/img2.png');
}

#qsImg-3 {
    background-image: url('../img/img3.png');
}

.qsColumns {
    padding: 15% 10%;
}

.mySlides {
    display:none
}

.w3-left, .w3-right, .w3-badge {
    cursor:pointer
}

.w3-badge {
    height:13px;width:13px;padding:0
}